html, body {
    min-height: 100%;
}
body {
    text-align: center;
    font-family: 'Anton', sans-serif !important;
    background: -webkit-linear-gradient(#f0f5f5, #76b1d3);
    background: -o-linear-gradient(#f0f5f5, #76b1d3);
    background: linear-gradient(#f0f5f5, #76b1d3);
}
* {
  box-sizing: border-box;
}

.container {
  margin: auto;
  width: 707px !important;
  display: flex;
  justify-content: space-around;
  border: 1.2px solid #666363;
  border-radius: 4px;
  background: #8395e0;
  color: #515050;
  background: -webkit-linear-gradient(#f0f5f5, #546ed2);
  background: -o-linear-gradient(#f0f5f5, #546ed2);
  background: linear-gradient(#f0f5f5, #546ed2);

}

#canvas {
  margin-top:-51px;
  margin-bottom: 12px;
}

h1 {
  color: #3f3d3d;
}

#wrapper {
  display: flex;
  margin: auto;
  width: 207px;
  justify-content: center;
}

.button {
  width: 80px;
  height: 30px;
  font-family: 'Anton', sans-serif;
  margin: 15px 5px 15px 0;
  border: 1px solid #666363;
  border-radius: 6px;
  background-color: #a3cce2;
  color: #515050;
  background: -webkit-linear-gradient(#f0f5f5, #76b1d3);
  background: -o-linear-gradient(#f0f5f5, #76b1d3);
  background: linear-gradient(#f0f5f5, #76b1d3);
}

.button:hover {
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
  border: 1.5px solid #666363;
}

.swal-modal {
  border: 3px solid #40515e;
  background: -webkit-linear-gradient(#f0f5f5, #76b1d3);
  background: -o-linear-gradient(#f0f5f5, #76b1d3);
  background: linear-gradient(#f0f5f5, #76b1d3);
  border-radius: 10px;
}

.swal-button {
  background: -webkit-linear-gradient(#f0f5f5, #76b1d3);
  background: -o-linear-gradient(#f0f5f5, #76b1d3);
  background: linear-gradient(#f0f5f5, #76b1d3);
}

.image {
  border: 1px solid #777;
  margin-left: 5px;
  margin-top: 20px;
  background: -webkit-linear-gradient(#f0f5f5, #96bcd1);
  background: -o-linear-gradient(#f0f5f5, #96bcd1);
  background: linear-gradient(#f0f5f5, #96bcd1);
  border-radius: 6px;
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.50);
  max-width: 100%;
}

.image:hover {
  border: 2px solid #777;
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
}

#divImg {
  display: flex-wrap;

  width: 100%;
  margin: auto;
}
